<div class="big-container addbike flexed-item  " onload="initialize()">
  <form method="POST" class="add-product-form spacetop" action="/addbike" enctype="multipart/form-data"
    class="text-center border border-light p-5">
    <input type="hidden" name="owner_id" value={{currentUser._id}}>
    <h3 class="form-title">Add Your Bike to the offers</h3>
    <div class="form-item-wrapper flexed-item">
      {{!-- <label for="bike" class="label-name label">Make</label> --}}
      <input name="make" type="text" class="input-text input form-control mb-4" placeholder="Make">
    </div>
    <div class="form-item-wrapper flexed-item">
      {{!-- <label for="moto-ref" class="label-ref label">Model</label> --}}
      <input name="model" type="text" class="input-text input form-control mb-4" placeholder="Model">
    </div>
    <div class="form-item-wrapper flexed-item">
      {{!-- <label for="moto-ref" class="label-ref label">Horsepower</label> --}}
      <input name="horsepower" type="number" class="input-text input form-control mb-4" placeholder="Horsepower">
    </div>
    <div class="form-item-wrapper flexed-item">
      {{!-- <label for="moto-ref" class="label-ref label">Displacement</label> --}}
      <input name="displacement" type="number" class="input-text input form-control mb-4" placeholder="Displacement">
    </div>
    <div class="form-item-wrapper flexed-item">
      {{!-- <label for="moto-price" class="label-ref label">Price</label> --}}
      <input name="dailyprice" type="number" class="input-text input form-control mb-4" placeholder="Price per day">
    </div>
    <div class="form-item-wrapper flexed-item">
      {{!-- <label for="moto-descr" class="label-descr label">Description</label> --}}
      <input name="description" type="text" class="input-text input form-control mb-4" placeholder="Description">
    </div>
    <div class="form-item-wrapper flexed-item">
      {{!-- <label for="moto-descr" class="label-descr label">Location</label> --}}
      <input name="location" type="text" class="input-text input form-control mb-4" placeholder="Location" id="address">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="image_product">pick an image</label>
      <input id="image_product" type="file" name="image">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="moto-main-cat" class="label-main-cat label">Bobytype</label>
      <select class="browser-default custom-select" searchable="Search here.." name="bodytype">
        {{!-- <select  id="main_category" class="select"> --}}
        <option value="">Choose main Category...</option>
        <option value="Scooter">Scooter</option>
        <option value="Naked Bike">Naked Bike</option>
        <option value="Supersport">Supersport</option>
        <option value="Chopper">Chopper</option>
        <option value="Sport Touring">Sport Touring</option>
        <option value="Quad">Quad</option>
        <option value="Tourer">Tourer</option>
        <option value="Touring Enduro">Touring Enduro</option>
        <option value="Enduro">Enduro</option>
        <option value="Motocross">Motocross</option>
        <option value="Streetfighter">Streetfighter</option>
        <option value="Classic">Classic</option>
        <option value="Coffee Racer">Coffee Racer</option>
        <option value="Supermoto">Supermoto</option>
        {{!-- </select> --}}
      </select>
    </div>

    {{!-- <body onload="initialize()">
      
    </body> --}}

    <button class="button-primary add-moto-btn" id="clickman">Add to collection</button>
  </form>
</div>