<div class="sign form-container login">
  <div class="form-header spacetop">
    <h1 class="form-title">Welcome Back !</h1>
    <p class="form-subtitle">Enjoy yourself and be comfortable </p>
  </div>
  <form method="POST" id="form_user" action="/login">
    <div class="form-item-wrapper flexed-item">
      {{!-- <label for="email" class="label-ref label">Username</label> --}}
      <input type="email" name="email" class="input-text input" placeholder="Username" required>
    </div>
    <div class="form-item-wrapper flexed-item">
      {{!-- <label for="password" class="label-ref label">Password</label> --}}
      <input type="password" name="password" class="input-text input" placeholder="Password" required>
    </div>
    <button class="btn-primary white btn ">Sign In</button>
  </form>
  {{#if errorMessage}}
  <div>
    <h1>{{errorMessage}}</h1>
  </div>
  {{/if}}
  <p class="form-sub-infos">Don't have an account yet ? <a href="/signup" class=" button-link-form">Sign Up</a></p>
</div>